* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #888;
	transition: .2s;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

html {
	--s: 69px;
	--c1: #ababab;
	--c2: #cecece;
	--_g: #0000 90deg, var(--c1) 0;
	background:
		conic-gradient(from 90deg at 2px 2px, var(--_g)),
		conic-gradient(from 90deg at 1px 1px, var(--_g)),
		var(--c2);
	background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
	background-attachment: fixed;
	scroll-behavior: smooth;
}

body {
	font: 1em 'Exo 2', sans-serif;
	padding-right: 0;
	transition: padding .25s linear;
}

body.active {
	padding-right: 300px;
}

.wrapper {
	padding: 20px 0;
}

.container {
	width: 98%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

h1,
h2 {
	text-align: center;
	text-shadow: 0 2px 10px #777;
}

h1 {
	font-size: 50px;
	padding-top: 20px;
}
h2 {
	padding-bottom: 30px;
	font-size: 35px;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex-content-center {
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.space-around {
	justify-content: space-around;
}

nav.main-nav {
	display: flex;
	justify-content: center;
}
ul.nav {
	
}
ul.nav li {
	list-style: none;
	padding: 5px;
}
ul.nav a {
	color: #111;
	text-decoration: none;
}
ul.nav a:hover {
	text-decoration: underline;
}

.btn {
	border: none;
	padding: 8px 15px;
	background-color: #999;
	border-radius: 7px;
	margin: 10px;
	transition: transform .15s;
	cursor: pointer;
	text-align: center;
	min-width: 120px;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

.btn:active {
	transform: scale(.97);
}

.btn-black {
	background-color: #0d1117;
	padding: 15px 40px;
	color: #cacaca;
}

.section {
	margin: 40px 0;
	padding: 40px 15px;
	border-radius: 10px;
	background-color: #e2e2e2;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, .55);
}

.section-inner {
	flex-direction: row-reverse;
}

.section-inner .demo-btns-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.showInfo {
	background-color: var(--color-info);
}

.showSuccess {
	background-color: var(--color-success);
}

.showWarning {
	background-color: var(--color-warning);
}

.showDanger {
	background-color: var(--color-danger);
}

pre {
	position: relative;
	margin: 20px;
	background-color: #222;
	border-radius: 7px;
	overflow: hidden;
	transition: all .1s linear;
}

pre.active {
	outline: 5px solid #222;
	transform: scale(1.0);
}

pre.active code {
	color: #e79bff;
}

pre code {
	display: block;
	border-radius: 7px;
	font-size: 16px;
	background-color: #222;
	color: #cecece;
	padding: 15px;
	border-radius: 7px;
	font-size: 16px;
	overflow-x: auto;
	tab-size: 2;
}

.dom-copy-btn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 5px;
	cursor: pointer;
	color: #ccc;
	border: 1px solid #656565;
	border-radius: 7px;
}

.dom-copy-alert {
	position: absolute;
	top: 0;
	right: 100%;
	padding: 2px 5px;
	margin-right: 3px;
	background: #5bb75b;
	color: #000;
	font-size: 16px;
	border-radius: 7px;
}

.demo-code-wrap {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #000;
}

@media (max-width: 770px) {
	.doc-btn {
		margin-top: 40px;
	}
}

.dom-notify-container {
	font-family: "Exo 2";
}

.scrollToTop {
    width: 60px;
	height: 60px;
	border-radius: 7px;
    line-height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, .7) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMDAgMTkwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMDAgMTkwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojZmZmO3N0cm9rZS13aWR0aDoyMDtzdHJva2UtbGluZWNhcDpyb3VuZDt9DQo8L3N0eWxlPg0KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjEwMCIgeTE9IjEwIiB4Mj0iMTAiIHkyPSIxODAiLz4NCjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxMDAiIHkxPSIxMCIgeDI9IjE5MCIgeTI9IjE4MCIvPg0KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjEwIiB5MT0iMTgwIiB4Mj0iMTAwIiB5Mj0iMTM3LjUiLz4NCjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxOTAiIHkxPSIxODAiIHgyPSIxMDAiIHkyPSIxMzcuNSIvPg0KPC9zdmc+DQo=) center no-repeat;
    background-size: 30px 30px;
    color: #aaa;
    text-decoration: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
    font-size: 25px;
    z-index: -5;
}
.scrollToTop.scrollToTopVisible {
    opacity: .6;
    visibility: visible;
    z-index: 99;
}